html {
  overflow: hidden;
}
body {
  padding: 0;
  margin: 5px;
  font-size: 13px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(4, 138px);
  grid-gap: 10px;
  scroll-snap-type: y;
  scroll-padding: 0;
  overflow: auto;
  max-height: 582px;
}
a {
  outline: none;
}
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type=button] {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: none;
}
input[type=button]:active {
  border-color: rgba(0, 0, 0, 0.3);
}
[data-cmd="open-settings"] {
  background: url(settings.svg) center center no-repeat;
  background-size: 12px;
}
[data-cmd="open-home"] {
  background: url(home.svg) center center no-repeat;
  background-size: 12px;
}

.grid-item {
  width: 138px;
  height: 138px;
  padding: 5px;
  box-sizing: border-box;
  scroll-snap-align: start;
  background-color: rgba(0, 0, 0, 0.05);
  background-position: center center;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  outline: none;
}

.grid-item:focus .title {
  font-weight: bold;
}
.grid-item:active {
  opacity: 0.5;
}
.grid-item:not([data-settingsurl]) input[data-cmd="open-settings"],
.grid-item:not([data-homeurl]) input[data-cmd="open-home"] {
  display: none;
}
#no-app {
  grid-column: 1/5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset;
}
#no-app b {
  display: block;
}
div ~ #no-app {
  display: none;
}

.spacer {
  flex: 1;
}
.tools {
  position: absolute;
  top: 2px;
  right: 2px;
}
[data-cmd=open-settings],
[data-cmd=open-home] {
  opacity: 0.2;
  margin-left: 2px;
}
[data-cmd=open-settings]:hover,
[data-cmd=open-settings]:focus,
[data-cmd=open-home]:focus,
[data-cmd=open-home]:hover {
  opacity: 1;
}
.number {
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0.2;
  background-color: #e8e8e8;
  padding: 0 2px;
}
.number:empty {
  display: none;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-user-select: none;
}

/* drag & drop */
.dragging {
  background-color: rgba(0, 0, 0, 0.1);
}
