.smart-insert-container .smart-insert-div {
  color: black;
  width: calc(100% - 7px);
  height: 100%;
  padding: 5px;
  pointer-events: none;
  white-space: pre-wrap;
  overflow: hidden;
  word-break: break-word;
}

.smart-insert-container.add-scrollbar .smart-insert-div {
  overflow-y: scroll;
}

.smart-insert-container .smart-insert-div.disabled {
  background-color: #e0e0e0;
  pointer-events: none;
}

.smart-insert-textarea {
  box-sizing: border-box;
  color: transparent;
  height: 100%;
  caret-color: black;
  overflow: hidden auto;
  word-break: break-word;
}

.smart-insert-container .smart-insert-mark {
  background-color: transparent;
  color: var(--sm9-primary-color);
}
