.flex-container {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.ext-el-mask.opaque {
  opacity: 0.5;
}

#a-popup {
  position: relative;
  z-index: 99999;
  background-color: var(--sm9-offwhite);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 100%;
  height: 100%;
  font-size: 14px;
}

#a-popup-body {
  height: 100%;
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-areas: 'menu wizard';
}

#a-popup-body.disabled {
  pointer-events: none;
  user-select: none !important;
}

#a-popup-body.disabled * {
  user-select: none !important;
}

.a-popup-info {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 18px;
  z-index: 1;

  font-size: 18px;
  color: var(--sm9-darkgray);
  background-color: var(--sm9-offwhite);
  border: 1px solid var(--sm9-midgray);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.a-popup-wizard {
  grid-area: wizard;

  display: grid;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'tickets'
    'editor';
  grid-row-gap: 15px;
  position: relative;
  height: 100%;
  padding: 15px 20px;
}

.a-edit-container {
  grid-area: editor;
}

#a-popup-menu {
  grid-area: menu;

  float: left;
  width: 220px;
  height: 100%;
  overflow: hidden;
  padding: 0;
  user-select: none !important;

  background-color: var(--sm9-smoke);
  color: var(--sm9-darkgray);
}

#a-popup-menu-elements {
  height: calc(100% - 35px);
  padding: 10px 0;
  overflow-y: auto;
}

#a-popup-new-action {
  position: relative;
  height: 35px;

  font-size: 18px;
  border-top: 1px solid var(--sm9-gray);
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
}

#a-popup-new-action:hover {
  cursor: pointer;
  color: var(--sm9-primary-color);
}

#a-popup-new-action span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50% );
}

#a-popup-new-action span::before {
  content: '+';
  
  position: absolute;

  transform: translate(-150%, -53%);
  top: 50%;
  left: 0;

  color: var(--sm9-primary-color);
  font-weight: bold;
  font-size: 125%;
}

.a-popup-menu-element-wrapper {
  display: flex;
  padding: 5px 5px 5px 8px;
  justify-content: space-between;
  align-items: center;
}

.a-popup-menu-element-wrapper:hover .a-popup-menu-element {
  color: var(--sm9-primary-color);
}

.a-popup-menu-element-wrapper.rename .a-popup-menu-element,
.a-popup-menu-element-wrapper:not(.rename) .a-popup-menu-element-rename {
  display: none;
}

.a-popup-menu-element-rename {
  display: block;
  padding: 0;
  line-height: 18px;
  height: 20px;
  overflow: hidden;
  font-size: 16px;
  background-color: var(--sm9-smoke);
  border: none;
  border-bottom: 1px solid var(--sm9-midgray);
}

.a-popup-menu-element.selected + .a-popup-menu-element-rename {
  font-weight: bold;
}

.a-popup-menu-element {
  position: relative;
  display: inline-block;

  font-size: 16px;
  cursor: pointer;
  white-space: break-spaces;
  word-break: break-word;
}

.a-popup-menu-element.selected {
  font-weight: bold;
}

#a-popup-content {
  height: 100%;
  margin: 0 15px 0 230px;
}

.a-tickets-container {
  font-size: 16px;
  color: var(--sm9-darkgray);
}

.a-tickets {
  grid-area: tickets;
  display: inline-block;
  overflow: hidden auto;
  max-height: 90px;
}

.a-tickets,
.a-tickets * {
  user-select: none !important;
}

.a-tickets-count {
  font-weight: bold;
  padding-left: 1px;
  padding-right: 1px;
}

.a-tickets-label {
  position: relative;
  width: 103px;
  margin: 5px 5px 0px 0px;
  padding: 3px 5px 3px 5px;
  float: left;
  opacity: 1;

  cursor: pointer;
  font-size: 14px;
  text-align: center;

  border: 1px solid var(--sm9-gray);
  background-color: var(--sm9-offwhite);
  color: var(--sm9-midgray);
}

.a-tickets-label.removed {
  text-decoration: line-through;
}

.a-tickets-label.invalid {
  text-decoration: line-through;
  color: white;
  border-color: var(--sm9-red);
  color: var(--sm9-red);
  cursor: default;
}

.a-tickets-label.partial {
  border-color: var(--sm9-lightorange);
  color: var(--sm9-orange);
}

.a-tickets-label.unknown {
  background-color: white;
  border-color: var(--sm9-smoke);
  color: var(--sm9-gray);
}

.a-tickets-label.done {
  border-color: var(--sm9-darkgreen);
  color: var(--sm9-darkgreen);
}

.a-tickets-label.in-progress {
  margin: 6px 6px 1px 1px;

  border: none;
  color: var(--sm9-secondary-color);
}

.a-tickets-label.in-progress::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -1px;
  z-index: -1;

  background-image: linear-gradient(
    to right,
    var(--sm9-secondary-color),
    var(--sm9-secondary-color) 30%,
    var(--sm9-pale-primary-color),
    var(--sm9-secondary-color) 60%,
    var(--sm9-secondary-color)
  );
  background-size: 1000% 100%;

  animation: slide-background 2s linear infinite;
}

@keyframes slide-background {
  from {
    background-position: 100%;
  }

  to {
    background-position: 0%;
  }
}

.a-tickets-container.hide-invalid .a-tickets-label.invalid,
.a-tickets-container.hide-invalid .a-tickets-label.removed {
  /* display: none; */
  animation: collapse-ticket-label 0.2s ease-out forwards;
}

.a-tickets-container.was-hidden:not(.hide-invalid) .a-tickets-label.invalid,
.a-tickets-container.was-hidden:not(.hide-invalid) .a-tickets-label.removed {
  /* display: none; */
  animation: expand-ticket-label 0.2s ease-out forwards;
}

@keyframes collapse-ticket-label {
  50% {
    opacity: 0;
  }

  to {
    width: 0;
    opacity: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes expand-ticket-label {
  from {
    width: 0;
    opacity: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  50% {
    opacity: 0;
  }
}

.a-tickets-tooltip {
  position: fixed;
  margin: 15px 0 0 -5px;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  max-width: 550px;
  word-break: break-word;

  font-size: 12px;
  background-color: var(--sm9-offwhite);
  color: var(--sm9-midgray);
  border: 1px solid var(--sm9-gray);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);

  transition: opacity var(--sm9-faster);
}
.a-tickets-tooltip.active {
  opacity: 1;
}

.a-tickets-tooltip > hr {
  height: 1px;
  border: 0px;
  border-top: 1px solid var(--sm9-gray);
  background-color: transparent;
}

.a-tickets-no-run-info {
  color: var(--sm9-primary-color);
}

.a-tickets-wip {
  font-weight: bold;
}

#a-popup-label {
  display: flex;
  padding-bottom: 10px;
}

.a-popup-menu-element-wrapper.rename .a-popup-menu-element-more {
  display: none;
}

.a-popup-menu-element-more {
  position: relative;
}

.a-popup-menu-element-more .operations {
  position: absolute;
  display: flex;
  opacity: 0;
  pointer-events: none;
  right: 5px;
  top: 25px;
  z-index: 1;

  background-color: var(--sm9-offwhite);
  border: 1px solid var(--sm9-gray);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  transition: opacity var(--sm9-faster);
}

.a-popup-menu-element-more.open .operations {
  opacity: 1;
  pointer-events: all;
}

.a-popup-menu-element-more .operations div {
  padding: 5px 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  color: var(--sm9-midgray);
  transition: var(--sm9-faster);
}

.a-popup-menu-element-more .operations:hover div:hover {
  color: var(--sm9-primary-color);
}

/* Dotted menu styling */

.dot-menu {
  position: relative;
  opacity: 0;
  transition: opacity var(--sm9-medium);
}

.dot-menu.open,
.a-popup-menu-element-wrapper:hover .dot-menu {
  opacity: 1;
}

.dot-menu-span {
  cursor: pointer;
  width: 20px;
  height: 24px;
  margin-bottom: -7px; /* sorry */
  display: block;
}

.dot-menu-span::before,
.dot-menu-span span::before,
.dot-menu-span::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--sm9-primary-color);
  transition: var(--sm9-medium);
  top: 10px;
}

.dot-menu-span::before {
  left: 2px;
}
.dot-menu-span span::before {
  left: 8px;
}
.dot-menu-span::after {
  left: 14px;
}

.dot-menu.open .dot-menu-span::before,
.dot-menu.open .dot-menu-span span::before,
.dot-menu.open .dot-menu-span::after {
  background-color: var(--sm9-secondary-color);
  left: 8px;
}
.dot-menu.open .dot-menu-span::before {
  top: 7px;
}
.dot-menu.open .dot-menu-span span::before {
  width: 10px;
  left: 5px;
}
.dot-menu.open .dot-menu-span::after {
  top: 13px;
}

/* Run/save buttons */
.a-popup-button {
  display: inline-flex;

  cursor: pointer;
  color: var(--sm9-primary-color);
  background-color: white;
  border: 1px solid var(--sm9-primary-color);

  transition: var(--sm9-faster);
}

.a-popup-button:not(:last-child):not(.no-gap) {
  margin-right: 10px;
}

.a-popup-button > div {
  display: inline-block;
  padding: 5px 15px;
  user-select: none !important;
  transition: var(--sm9-faster);
}

.a-popup-button:hover,
.a-popup-button.active {
  background-color: var(--sm9-primary-color);
  color: white;
}

.a-popup-button.more {
  margin-left: -1px;
}

.a-popup-button.more div {
  padding: 5px 7px 4px;
}

.a-popup-button.abort {
  height: 30px;
  width: 87px;
  margin-right: 10px;

  text-align: center;
  border-color: var(--sm9-red);
  background-color: white;
  color: var(--sm9-red);

  pointer-events: auto;
}

.a-popup-button.abort:hover {
  background-color: var(--sm9-red);
  color: white;
}

.a-popup-button.abort div {
  width: 100%;
}

.a-popup-save .a-popup-title {
  display: block;
  width: 400px;
  height: 30px;
  margin: 0 0 10px;
  padding: 2px 6px;

  font-size: 16px;
  color: var(--sm9-darkgray);
  border: 1px solid var(--sm9-gray);
  background-color: white;

  transition: var(--sm9-fast);
}

.a-popup-save .a-popup-title:focus {
  border: solid 1px var(--sm9-primary-color);
  box-shadow: 0 0 3px 0px rgba(1, 169, 130, 0.3);
}

.a-popup-save.open .a-popup-button {
  float: left;

  background-color: var(--sm9-primary-color);
  color: white;
}

.a-popup-save.open .a-popup-button:hover {
  border-color: var(--sm9-secondary-color);
  background-color: var(--sm9-secondary-color);
  color: white;
}

.a-popup-button.disabled,
.a-popup-save.disabled .a-popup-button,
.a-popup-save .a-popup-button.disabled,
.a-popup-run-save.save-only .a-popup-button.run,
.a-popup-run-save.save-only .a-popup-button.more,
.a-popup-run-save.save-only .a-popup-button.save-and-run,
.a-popup-run-save.disabled .a-popup-button.run,
.a-popup-run-save.disabled .a-popup-button.more {
  cursor: default;
  pointer-events: none;

  border-color: var(--sm9-gray);
  background-color: transparent;
  color: var(--sm9-gray);
}

.a-popup-run-save, .a-popup-button.abort {
  position: absolute;
  right: 10px;
  bottom: 13px;

  font-size: 16px;
}

.a-popup-save {
  display: none;
  position: absolute;
  right: 40px;
  bottom: 5px;
  margin-bottom: -5px;
  padding: 10px 12px;

  background-color: var(--sm9-offwhite);
  border: 1px solid var(--sm9-gray);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.a-popup-save.open {
  display: block;

  animation: fade-in 40ms linear forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.a-popup-exit-checkbox {
  display: none;
  position: absolute;
  bottom: 19px;
  right: 120px;
  align-items: center;

  font-size: 18px;
}
#a-popup-body:not(.disabled) .a-popup-exit-checkbox.active {
  display: flex;
}

.a-popup-exit-checkbox input {
	position: relative;
	display: inline-block;
  margin-right: 7px;
  padding: 8px;

	-webkit-appearance: none;
	background-color: var(--sm9-offwhite);
	border: 1px solid var(--sm9-midgray);
	border-radius: 0;
}

.a-popup-exit-checkbox input:active {
  background-color: var(--sm9-smoke);  
}

.a-popup-exit-checkbox input:hover {
  border-color: var(--sm9-darkgray);
}

.a-popup-exit-checkbox input:checked:after {
  content: '\e962';
	position: absolute;
	top: -2px;
  left: -1px;

  font-family: icons;
	font-size: 17px;
	color: var(--sm9-darkgray);
}