<!doctype html>

<html>

<head>
  <meta charset="UTF-8">

  <title>ActionPopup</title>

  <link rel="stylesheet" href="components/ActionPopup/ActionPopup.css">
  <link rel="stylesheet" href="components/ActionPopup/ActionEditor/ActionEditor.css">
  <link rel="stylesheet" href="classes/SmartInsertTextarea.css">
  <link rel="stylesheet" href="lib/autocomplete.css" />
  <link rel="stylesheet" href="stylesheets/global.css">

  <script type="text/javascript" src="lib/highlight-ta-min.js"></script>
  <script type="text/javascript" src="lib/autocomplete.js"></script>
  <script type="text/javascript" src="classes/Action.js"></script>
  <script type="text/javascript" src="classes/Operation.js"></script>
  <script type="text/javascript" src="classes/Util.js"></script>
  <script type="text/javascript" src="classes/StringHelpers.js"></script>
  <script type="text/javascript" src="classes/SmartInsertTextarea.js"></script>
  <script type="text/javascript" src="classes/Notifier.js"></script>
  <script type="text/javascript" src="components/ActionPopup/ActionPopup.js"></script>
  <script type="text/javascript" src="components/ActionPopup/TicketManager.js"></script>
  <script type="text/javascript" src="components/ActionPopup/ActionEditor/AutocompleteHandler.js"></script>
  <script type="text/javascript" src="components/ActionPopup/ActionEditor/TextareaHandler.js"></script>
  <script type="text/javascript" src="components/ActionPopup/ActionEditor/ActionEditor.js"></script>
  <script type="text/javascript" src="components/ActionPopup/ActionEditor/EditorHelper.js"></script>
</head>

<body>
  <div id="a-popup-body">
    <div class="a-popup-info run hidden">
      The action is running. Closing this window will stop the action.
    </div>

    <div class="a-popup-info aborted hidden">
      Aborting action. Please wait until the action running stops completely.
    </div>

    <div id="a-popup-menu">
      <div id="a-popup-menu-elements"></div>
      <div id="a-popup-new-action"><span>New action</span></div>
    </div>

    <div class="a-popup-wizard">
      <div class="a-tickets-container">
        <div class="a-tickets-count-text">
          Selected tickets (<span class="a-tickets-count"></span>):
        </div>
        <div class="a-tickets-no-run-info">
          No tickets are selected - actions can only be saved
        </div>
        <div class="a-tickets-progress-info hidden">
          Working...
          (<span class="a-tickets-progress-count"></span>)
        </div>

        <div class="a-tickets"></div>

        <div class="a-tickets-tooltip">
          <span class="description">TICKET_DESC</span>
          <br/><hr>
          <span class="message">Click to remove</span>
        </div>
      </div>

      <div
        class="a-edit-container"
        ondragstart="return false"
        ondrop="return false"
      ></div>
      
      <div class="a-popup-exit-checkbox">
        <input id="a-popup-exit" type="checkbox" checked>
        <label for="a-popup-exit">Exit ticket after running action</label>
      </div>

      <div class="a-popup-run-save">
        <div class="a-popup-button run no-gap">
          <div>Run</div>
        </div><div class="a-popup-button more">
          <div>&#9660;</div>
        </div>

        <div class="a-popup-save">
          <div>
            <input class="a-popup-title" maxlength="50" placeholder="Action title" spellcheck="false">
          </div>

          <div>
            <div class="a-popup-button save">
              <div>Save</div>
            </div>

            <div class="a-popup-button save-and-run">
              <div>Save and run</div>
            </div>
          </div>
        </div>
      </div>

      <div class="a-popup-button abort hidden">
        <div>Abort</div>
      </div>
    </div>
  </div>
</body>

</html>