/* Smartease by ASIC HU */
/* modify default CSS */

/* Support new SM9 version */
.masthead-sm-logo {
  width: 36px !important;
  height: 36px !important;
}
#cwc_header > div > img {
  width: 36px !important;
  height: 36px !important;
}

#cwcNavPanel,
#cwcCenterPanel {
  top: 38px !important;
}
#cwcNavPanel-xsplit.x-splitbar-h {
  /* width: 5px; */ /* TODO sort it out to be nice if possible with new design */
  margin-top: 2px;
  /* border: none;
  border-left: 1px solid var(--sm9-lightgray);
  border-right: 1px solid var(--sm9-lightgray); */
}
#cwcNavPanel-xsplit.x-splitbar-h::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  background: url('../../images/9.62.1012/default/sizer/resizer_h.png')
    no-repeat center;
}
/* Retro style for new SM9 version */
#cwc_header {
  background-color: var(--sm9-offwhite);
  height: 36px !important;
  min-width: 915px;
}
#cwc_masthead_title_link,
#cwc_header.masthead #h-layout.active button,
#cwc_header.masthead #v-layout.active button,
#cwc_Masthead button.cwc-toolbar-userinfo,
#cwc_Masthead button.cwc-toolbar-help,
#cwc_Masthead button.cwc-toolbar-messages,
#cwc_Masthead button.cwc-toolbar-notification,
#cwc_Masthead button.cwc-toolbar-topalert,
#cwc_Masthead button.cwc-toolbar-chatrequest,
#cwc_Masthead button.cwc-toolbar-button {
  color: #333 !important;
}
#cwc_header.masthead #h-layout button,
#cwc_header.masthead #v-layout button {
  color: var(--sm9-primary-color) !important;
}

#cwc_Masthead {
  padding: 2px 0 0 23px !important;
}
/* Retro style end */

* {
  user-select: auto !important;
}
.masthead .masthead-cnt {
  padding-top: 0 !important;
}
/* #cwc_header {
  min-width: 915px;
} */
.firstColumnColor {
  color: var(--sm9-primary-color) !important;
  text-decoration: none;
}
.firstColumnColor:hover {
  color: var(--sm9-secondary-color);
  text-decoration: underline;
}
a .FormatTableElementReadonly {
  color: var(--sm9-primary-color) !important;
  text-decoration: none !important;
}
a:hover .FormatTableElementReadonly {
  color: var(--sm9-secondary-color) !important;
  text-decoration: underline !important;
}
span#X1.Label {
  border-bottom-color: #dbdbdb !important;
}
span#X7.Label {
  color: #000000 !important;
}
/* Plus icon for menu elements */
.icon_plus {
  padding-right: 5px;
  font-weight: bold;
  color: var(--sm9-primary-color);
}
/* facelift for tooltips */
.x-tip {
  min-width: 10%;
  max-width: 40%;
  outline: 1px solid #b9b8bb;
}
div[class^='x-tip-']:not([class*='x-tip-anchor']) {
  -background: #f5f5f5 !important;
  background: #f5f5f5 !important;
  background-image: none !important;
}
.x-tip-body {
  font-size: 125% !important;
  width: 100% !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

/* Cmdbar.js */
#smwebcmdbar-wrapper {
  position: relative;
  left: 251px;
  width: 40%;
  z-index: 9000;
}
#smwebcmdbar {
  display: flex;
  height: 22px;
  margin-top: 7px;
  min-width: 450px;
}
hr {
  height: 1px;
  border-width: 0;
  background-color: var(--sm9-primary-color);
}
#smweb-placeholder {
  width: 100%;
}
.smwebcmdbar-text {
  height: 22px;
  margin-top: 3px;
  font-size: 15px;
  user-select: none !important;
}

#smartease-notifier {
  font-family: icons;
  color: var(--sm9-primary-color);
  font-size: 22px;
  line-height: 22px;
  margin: 0px;
  animation: tada 1.6s both;
  animation-delay: 5s;
  transform-origin: left center;
}
#smartease-notifier:hover {
  color: var(--sm9-secondary-color);
}
#smartease-notifier a {
  text-decoration: none;
}
/* Start of TicketSearch.js styling */
#ticketsearch {
  width: 210px;
  margin-right: 2px;
}
#ticketsearch input {
  width: 200px;
  height: 20px;
  padding-left: 5px;
  border: solid 1px #888;
  font-size: 14px;
}
#ticketsearch input:hover {
  border: solid 1px #000;
}
#ticketsearch input.error::-webkit-input-placeholder {
  color: crimson;
}
#searchTicket:invalid {
  background-color: #fff;
}
#searchTicket:valid {
  background-color: var(--sm9-pale-primary-color);
}
#searchTicket:focus::placeholder {
  opacity: 0;
}

#searchTicketTooltip {
  visibility: hidden;
  margin: 0 3px 0 0;
  padding: 5px;
  z-index: 1;
  background-color: var(--sm9-lightgray);
  color: #5a5a5a;
  font-weight: normal;
  border: solid 1px #b9b8bb;
  border-top-width: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
}

#searchTicket:focus ~ #searchTicketTooltip {
  visibility: visible;
}
/* End of TicketSearch.js styling */

/* Start of CmdBar buttons styling */
.cmdbarbuttons {
  position: relative;
  margin-right: 5px;
}
.cmdbarbuttons.inactive {
  opacity: 0.25;
  pointer-events: none;
}
.cmdbarbuttons:hover .Button {
  border-style: outset;
  background-color: var(--sm9-secondary-color);
  border: 1px solid var(--sm9-secondary-color);
}
.cmdbarbuttons .Button {
  position: relative;
  height: 22px;
  font-size: 15px;
  padding: 0 8px;
  color: #fff;
  background-color: var(--sm9-primary-color);
  border: 1px solid var(--sm9-primary-color);
}
.cmdbarbuttons.disabled:hover .Button,
.cmdbarbuttons.disabled .Button {
  color: #fff;
  pointer-events: none;
  border-style: outset;
}
.cmdbarbuttons :not(.Button) .activate {
  animation: activate 0.75s;
}
.cmdbarbuttons .Content.hover {
  display: block;
}
.cmdbarbuttons .Content {
  position: absolute;
  display: none;
  transform: translateX(-50%);
  left: 50%;
  min-width: 250px;
  max-width: 80vw;
  max-height: calc(100vh - 40px);
  margin-top: -1px;
  padding: 0 8px 8px;
  overflow: auto;
  z-index: 11;

  text-align: left;
  user-select: text;

  color: var(--sm9-darkgray);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--sm9-smoke);
  border: solid 1px var(--sm9-lightgray);
}
.cmdbarbuttons .Content .action-group {
  border-bottom: 1px solid lightgray;
  padding: 8px 0px 8px 0px;
}
.cmdbarbuttons .Content .action-group:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.cmdbarbuttons .Content .action-group > div {
  font-family: MetricWeb, Arial;
  display: block;
  overflow: auto;
  text-align: left;
  padding: 2px;
  font-size: 15px;
  cursor: pointer;
}
@supports (-moz-appearance: meterbar) {
  .cmdbarbuttons .Content .action-group > div {
    padding-right: 19px;
  }
}
.cmdbarbuttons .Content .action-group .inactive {
  pointer-events: none;
  cursor: default;
  color: #aaaaaa;
}
.cmdbarbuttons .Content .action-group > div:not(#ciList):hover {
  color: var(--sm9-primary-color);
}
.cmdbarbuttons .Content .title {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}
.cmdbarbuttons#detailActions .Content { /* I kinda hate this CSS - Albert */
  white-space: pre;
}

/*TableMagnify.js*/
#copytabletoclipboard {
  margin: auto;
  width: 160px;
  height: 22px;
  font-size: 15px;
}
#copytabletoclipboard input {
  height: 20px;
  background-color: var(--sm9-primary-color);
  color: #fff;
  border: 1px solid var(--sm9-primary-color);
  padding: 0 10px;
  cursor: pointer;
}
#copytabletoclipboard input:hover {
  background-color: var(--sm9-secondary-color);
}
#copytabletoclipboard input:active {
  background-color: var(--sm9-lightgray);
  color: var(--sm9-darkgray);
  border: 1px solid var(--sm9-lightgray);
}

/* Start of Textarea styling*/
.MultiText .xTextArea textarea a,
.MultiText .xTextArea div.textareaView a {
  font-family: Consolas !important;
}

.Notebook textarea[dvdvar],
.Notebook .textareaView,
#magnified-textbox {
  font-family: Consolas !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.magnify-textarea-button {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 10;
  cursor: pointer;
  transform: rotateY(180deg);
  opacity: 0.5;
  font-size: 18px;
}
.magnify-textarea-button:hover {
  color: var(--sm9-secondary-color);
  opacity: 1;
}
.magnify-textarea-button:before {
  font-family: 'icons';
  content: '\eb97';
}
#magnified-textbox {
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.no-overflow {
  overflow: hidden !important;
}

#magnified-textbox > div,
#magnified-textbox > textarea {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 14px; /* remaining 1px is in the sm-popup-body padding, sry */
  padding: 5px;
  overflow: auto;

  border: 1px solid var(--sm9-gray);
}
#magnified-textbox > div {
  background-color: var(--sm9-smoke);
}
#magnified-textbox > div:focus-within,
#magnified-textbox > textarea:focus-within {
  border: solid 1px var(--sm9-primary-color);
  box-shadow: 0 0 1px var(--sm9-primary-color);
}

/* Start of CI list styling */
@keyframes activate {
  from {
    font-weight: 100;
  }
  40% {
    font-weight: 900;
  }
  60% {
    font-weight: 900;
  }
  to {
    font-weight: 100;
  }
}
@keyframes tada {
  5% {
    transform: rotate3d(0, 0, 1, 3deg);
  }
  10%,
  20% {
    transform: rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: rotate3d(0, 0, 1, 6deg);
  }
  40%,
  60%,
  80% {
    transform: rotate3d(0, 0, 1, -6deg);
  }
}
#ciActions .Content {
  padding-right: 0px;
  padding-bottom: 0px;
}
#ciActions .action-group:first-child {
  margin-right: 8px;
}
#ciActions .action-group:last-child {
  padding-top: 0px;
  padding-bottom: 2px;
}
#ciList {
  display: inline-block;
  overflow: auto;
  padding: 0px 8px 0px 0px;
  margin: 0px;
  height: 100%;
  font-family: MetricWeb, Arial;
  font-size: 11pt;
}
#ciList a {
  text-decoration: none;
}
.cilist_copybtn {
  font-weight: bold;
}
#ciList a:hover,
.cilist_copybtn:hover,
#ciList .groupName:hover {
  color: var(--sm9-primary-color);
}
#ciList tr > * {
  vertical-align: baseline;
}
#ciList tr > *:hover {
  color: var(--sm9-primary-color);
}
#ciList .groupName {
  font-weight: bold;
  text-align: left;
  padding-top: 8px;
}
#ciList .hostName {
  text-align: left;
  padding-right: 8px;
}
#ciList .auditServer {
  text-align: center;
}
#ciList thead tr > * {
  padding: 3px 0px 5px 0px;
}
#ciList tbody tr > * {
  padding: 3px 0px 5px 0px;
}
#ciList .bottomBorder {
  border-bottom: 2px solid var(--sm9-primary-color);
}
#citable {
  min-width: 242px;
  padding: 2px 0 0 2px;
}

/* End of CI list styling */

/* Tab Context menu */
.menu {
  position: relative;
  display: none;
  z-index: 1000;
  width: 150px;
  padding: 8px;
  color: #5a5a5a;
  font-weight: normal;
  font-size: 15px;
  background-color: var(--sm9-lightgray);
  border: solid 1px #b9b8bb;
  border-radius: 3px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.menu li {
  padding: 2px;
}
.menu li:hover {
  color: var(--sm9-primary-color);
}
.menu-options {
  list-style: none;
  padding: 0px 0;
}
.menu-option {
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}

.ShowParent {
  height: 20px !important;
  font-family: icons;
  font-size: 16px;
  color: var(--sm9-primary-color);
  cursor: pointer;
}
/* Ticket Actions error */
.menu.floating-error {
  z-index: 10000;
  width: fit-content;
  color: brown;
  border-color: brown;
  pointer-events: none;
}

/* List Export */
.list-export-csv,
.list-export-csv-multi {
  position: relative;
}

.list-export-csv::before,
.list-export-csv-multi::before {
  font-family: 'icons';
  text-align: left;
  font-size: 16px;
  position: absolute;
  top: -1px;
  left: 2px;
}

.list-export-csv::before {
  content: '\e9b5';
}

.list-export-csv-multi::before {
  content: "\ea79";
}
